<%- include('layout/header') %> <%- include('layout/navbar') %>

<h1>Become an official Clubhouse-Member!</h1>
<form action="/membership" method="post">
  <label for="membershipPassword">Membership-Passwort:</label>
  <input type="password" id="membershipPassword" name="membershipPassword" />
  <button type="submit">Submit</button>
</form>

<%- include('layout/footer') %>
