<form action="/message" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" />
  <label for="message">Message:</label>
  <input type="text" id="message" name="message" />
  <button type="submit">Send!</button>
</form>
